<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>shruti's blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <p>Hi there</p>
    <p>It works</p>
    <h1>A heading</h1>
    <h2>A sub heading</h2>
    <h3>A sub-sub heading</h3>
    <p>paragraph</p>
    <em>text</em>
    <strong>text</strong>
    <br>
    <a href="https://djangogirls.org">Link</a>
    <ul>
      <li>first item</li>
      <li>second item</li>
    </ul>
    <div color="Blue">
      <h5><a href="#">Django Girls Blog</a></h5>

    </div>
    <div color="Red">
      <<h2>hello world</h2>

    </div>

  </body>
</html>
